{% extends "base.htm" %}

{% block pageheader %}
Zone List on server 
{% endblock pageheader %}


{% block body %}
<table class="table sortable">
<tr><th>Zone</th><th>Archive_SOA</th><th>Detail</th></tr>
{% for current_zone in zone_array %}
<tr>
<td>{{ zonename }}</td>
{% with SOA=current_zone|cut:zonename%}
{% with archive=SOA|cut:"."%}
<td>{{ archive }}</td>
<td><a href="/zonemanage/load_archive/{{ zonename}}/{{archive }}/">History</a></td>
</tr>
{% endwith %}
{% endwith %}
{% endfor %}
</table>

{% endblock body %}
