{% extends "base.htm" %}

{% block pageheader %}
<script type="text/javascript">
           $(function() {
               $('#myForm tbody tr').formset();
           })
</script>
<style type="text/css">
    .add-row {
        padding-left:18px;
        background:url({{ STATIC_URL }}images/add.png) no-repeat left center;
    }
    .delete-row {
        display:block;
        margin:6px 0 0 0;
        padding-left:18px;
        background:url({{ STATIC_URL }}images/delete.png) no-repeat left center;
    }
    .dynamic-form {
        margin-bottom:6px;
        padding-bottom:6px;
        border-bottom:1px dotted #ccc;
    }
</style>
Editing Zone Details for {{ zone_name }} 

{% endblock pageheader %}

{% block body %}
<form id="myForm" action="/zonemanage/editzone/{{zone_name }}/" method="post">{% csrf_token %}
{{ formset.management_form }}
<table>
	<tr><th>Hostname</th><th>Type</th><th>Value</th><th>Preference</th></tr>
        {% for form in formset %}
	<tr id="{{ form.prefix }}-row">
        <td>{{ form.hostname }}</td><td>{{ form.type }}</td><td>{{ form.value }}</td>
	{% if form.type == "MX" %} 
	<td>{{ form.preference }}</td>
	{% endif %} 
	<td>
	</td>
	</tr>
	<tr></tr>
        {% endfor %}
    </table>
<input type="submit" value="Submit" name="submit"/>
<a href="/zonemanage"> Cancel </a>
</form>
{% endblock body %}
